{{#if notice}}
    <span class="success-notice">{{notice}}</span>
    <br>
{{/if}}

<a class="btn btn-default" href="/stages/new">Add Stage</a>
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Stages</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {{#each stages}}
        <tr>
            <td>{{this.name}}</td>
            <td><a href="/stages/{{this.id}}/edit">Edit</a></td>
            <td><a href="/stages/{{this.id}}" class="resource-delete" data-resource-type="stages" data-resource-id="{{this.id}}">Delete</a></td>
        <tr>
    {{/each}}
    </tbody>
</table>