<h2>{{title}}</h2>
<form action="{{action}}?_method={{method}}" method="POST">
    <div class="form-group">
        <label for="title">* Title:</label>
        <input type="text" id="title" name="title" aria-required="true" value="{{#if idea}}{{idea.title}}{{else}} {{/if}}"/>
    </div>
    <div class="form-group">
        <label for="text">* Text:</label>
        <textarea rows="10" id="text" name="text" aria-required="true" >{{#if idea}}{{idea.text}}{{else}} {{/if}}</textarea>
    </div>
    <div class="form-group">
        <label for="creator">* Creator:</label>
        <input rows="10" id="creator" name="creator" aria-required="true" value="{{#if idea}}{{idea.creator}}{{else}} {{/if}}"></input>
        (Enter user_id.  This won't really be a form field.)
    </div>
    <div class="form-group">
        <label for="category">* Category:</label>
        <select name="category" id="category" multiple>
            {{#each categories}}
                <option value={{this.id}} {{#if ../idea}} {{#each ../idea/categories}}{{#ifeval ../this.id "==" this.id}}selected{{/ifeval}} {{/each}} {{/if}} >
                    {{this.name}}
                </option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="stage_id">* Stage:</label>
        <select name="stage_id" id="stage_id">
            {{#each stages}}
                <option value="{{this.id}}" {{#if ../idea}}{{#ifeval ../idea.stage.id "==" this.id}}selected="selected"{{/ifeval}}{{else}}{{/if}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit">Save</button>
</form>
<span style="color:red">
How should stage be handled here?  Users should not be able to just assign their idea a stage, but it should
not be null either.  Admins need to be able to update the stage.  There probably needs to be an initial stage
that is assigned to new ideas.  What is the best way to do that?
</span>