{{#if notice}}
    <span class="success-notice">{{notice}}</span>
    <br>
{{/if}}

<a class="btn btn-default" href="/ideas/new">Add Idea</a>
<br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Views</th>
            <th>Creator</th>
            <th>Stage</th>
            <th>Categories</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {{#each ideas}}
        <tr>
            <td><a href="/ideas/{{this.id}}">{{this.title}}</a></td>
            <td>{{this.text}}</td>
            <td>{{this.views}}</td>
            <td>{{this.user.firstname}}</td>
            <td>{{this.stage.name}}</td>
            <td>{{#each this.categories}}{{this.name}}  {{/each}}</td>
            <td><a href="/ideas/{{this.id}}/edit">Edit</a></td>
            <td><a href="/ideas/{{this.id}}" class="resource-delete" data-resource-type="ideas" data-resource-id="{{this.id}}">Delete</a></td>
        <tr>
    {{/each}}
    </tbody>
</table>