<h2>View Idea</h2>

<p>Title: {{idea.title}}</p>

<p>Text: {{idea.text}}</p> 

<p>Views: {{idea.views}}</p>

<p>Creator: {{idea.user.firstname}}</p>

<p>Category: {{#each idea.categories}}{{this.name}} {{/each}}</p>

<p>Stage: {{idea.stage.name}}</p>

<!-- This should be the user id for the logged in user, not the creator -->
<a class="btn btn-success upvote" data-user-id="{{idea.user.id}}" data-idea-id="{{idea.id}}" data-score="1">Like</a>
<a class="btn btn-danger downvote" data-user-id="{{idea.user.id}}" data-idea-id="{{idea.id}}" data-score="-1">Dislike</a>