<h2>{{title}}</h2>

<form class="form-inline" action="{{action}}?_method={{method}}" method="POST">
    <div class="form-group">
        <label for "name">* Name:</label>
        <input type="text" id="name" name="name" aria-required="true" value="{{#if category}}{{category.name}}{{else}} {{/if}}"/>
    </div>
    <button type="submit">Save</button>
</form>