<h2>View User</h2>

<p>First Name: {{user.firstname}}</p>

<p>First Name: {{user.lastname}}</p>

<p>Net ID: {{user.netid}}</p>

<p>Is Admin: {{user.admin}}</p>

<p>Is Comment Moderator: {{user.commentMod}}</p>

<p>Is Idea Moderator: {{user.ideaMod}}</p>